@import "variables";
@import "reset";

header {
    background-color: $header-bgColor;
}

//nav styling by sass nesting
nav{
    margin-top: 20px;
    background-color: $nav-bgColor;
    text-align: right;

    ul{
        list-style-type: none;

        li{
            display: inline;
            margin: 0 15px;

            a{
                text-decoration: none;
                display: inline-block;
                color: floralwhite;
                padding: 10px;
                transition: 2s;
                border-radius: 5px;
            }
            a:hover {
                background : #ff0000;
            }
        }
    }
}

main{
    background-color: $main-bgColor;
}

footer{
    background-color: $footer-bgColor;
}

#about {
    font-size: $para-fontSize;
}

@mixin benefit-style ($size, $color) {
    font-size: $size;
    text-align: justify;
    color: $color;
}
.benefit {
    @include benefit-style(20px, black);
}
#special{
    @include benefit-style (18px, blue);
}
.align{
    text-align: $centerAlign;
}